html
    head
        link(rel='stylesheet', href='../public/css/rent.css')

        title CvC
    body
        include sessionHeader.pug

        
        
        //-.container
            .filter
                h3 Filtrele

                form(method='GET')
                    input(type='text')

            .result
                each car in cars
                    .car-info
                        h4.brand #{car.brand}
                        p.passenger #{car.passengers} Kişilik
                        p.luggages #{car.luggages} Bavul
                        p.doors #{car.doors} 
                        p.price #{car.price}
                        a(href=`/cvc/rent/${car._id}`)
                            input(type='submit', value='Kirala')
                    .car-image
                        img(src=`${car.img_url}`)
                        
                        
                    
        